<!DOCTYPE html>
<html>
<body>
<form action="/AddExpense">
    <label>Category</label>
    <select name="category">
        <option value="Food">Food</option>
        <option value="Utilities">Utilities</option>
        <option value="Home">Home</option>
        <option value="Gas">Gas</option>
        <option value="Groceries">Groceries</option>
        <option value="Electronics">Electronics</option>
        <option value="Misc.">Misc.</option>
    </select><br>

    <label>Expense&nbsp;</label>
    <input type="text" name="expense"><br>

    <label>Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select name="date">
        <option value="0">Monday</option>
        <option value="1">Tuesday</option>
        <option value="2">Wednesday</option>
        <option value="3">Thursday</option>
        <option value="4">Friday</option>
        <option value="5">Saturday</option>
        <option value="6">Sunday</option>
    </select><br><br>
    <input type="submit" value="Add Expense"><br><br><br/>
</form><br>
<form action="/Home">
    <input type="submit" value="Return">
</form><br>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date<th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(0)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(1)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(2)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(3)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(4)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(5)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
<table border="1">
    <tr>
        <th>Category</th>
        <th>Expense</th>
        <th>Date</th>
    </tr><br>
    <tr th:each="expense : ${expenseObj}">
        <span th:if="${expense.getDate() == infoObj.dateOut(6)}">
            <td th:text="${expense.getCategory()}"></td>
            <td th:text="${expense.getExpense()}"></td>
            <td th:text="${expense.getDate()}"></td>
            <td>
                <form action="/DeleteExpense">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                <input type="submit" value="Delete">
                </form>
            </td>
        </span>
    </tr>
</table>
</body>
</html>
